<ion-header>
    <ion-toolbar color="primary">
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>
                Inventaris Barang
            </ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="cariKategori($event)" placeholder="Cari kategori..." *ngIf="daftarKategori.length > 0 || prosesPencarian"></ion-searchbar>
    <ion-card *ngIf="daftarKategori.length == 0">
        <ion-card-header>
            Ups
        </ion-card-header>
        <ion-card-content>
            Tidak menemukan kategori yang anda cari
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let item of daftarKategori;" class="card-thumbnail" (click)="keHalamanDaftarBarang(item)">
                <ion-card>
                    <img src="assets/img/{{ item.gambar }}"/>
                    <div class="card-title">{{ item.nama.length > 15 ? item.nama.substring(0, 12) + '...' : item.nama }}</div>
                    <div class="card-subtitle">
                        <ion-badge>
                            {{ item.jumlahBarang }} barang
                        </ion-badge>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="tambahKategori()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
